--with-iconv-dir=/usr
--enable-dba
--with-ndbm=/usr
--enable-exif
--enable-soap
--enable-wddx
--enable-ftp
--enable-sockets
--enable-zip
--enable-pcntl
--enable-shmop
--enable-sysvsem
--enable-sysvshm
--enable-sysvmsg
--enable-mbstring
--enable-mbregex
--enable-bcmath
--enable-calendar
--with-ldap
--with-ldap-sasl=/usr
--with-xmlrpc
--with-kerberos=/usr
--with-xsl=/usr
--with-gd
--enable-gd-native-ttf
--with-freetype-dir=/usr/local/opt/freetype
--with-jpeg-dir=/usr/local/opt/jpeg
--with-png-dir=/usr/local/opt/libpng
--with-gettext=/usr/local/opt/gettext
--with-gmp=/usr/local/opt/gmp
--with-zlib=/usr/local/opt/zlib
--without-snmp
--with-libedit
--with-mhash
--with-curl=/usr/local/opt/curl
--with-openssl=/usr/local/opt/openssl
--with-bz2=/usr
--with-imap=/usr/local/opt/imap-uw
--with-imap-ssl=/usr/local/opt/openssl
--with-mysql-sock=/tmp/mysql.sock
--with-mysqli=mysqlnd
--with-pdo-mysql=mysqlnd